# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Virtual environments
env/
venv/
.pulpenv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite DBs and model output
*.sqlite3
*.db
*.log

# CSV and data outputs
data/model_output/
data/processed/
data/raw/

# Key sensitive files
modules/db_config.py

# Test or temporary files
*test*.csv
*tests*.csv
*.tmp
*.bak
analysis*
*.txt
*checklist*
*.ipynb

# OS files
.DS_Store
Thumbs.db

# Notebook metadata
*.nbconvert.ipynb